<div class="row">
    <div class="col-md-6">
        <form class="border p-2" (ngSubmit)="submitForm()" [formGroup]="depositForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="userId">User Id</label><br>
                    <input type="text" formControlName="userId" id="userId" name="userId" class="form-control-sm"><br>
                    <label for="amount">Amount</label><br>
                    <input type="text" formControlName="amount" id="amount" name="amount" class="form-control-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <button *ngIf="!isLoading" type="submit" [disabled]="depositForm.invalid"
                        class="btn btn-primary btn-sm">Deposit Money</button>
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>